
<h1>Tasks</h1>
    <ul>
        <div ng-repeat="task in tasks">
            <li>{{ task.title }}
            <ul>
                <li>
                    {{ task.description }}
                </li>
                <li>
                    {{ task.due }}
                </li>
            </ul>
            </li>
            <button ng-click="deleteTask(task);">Delete Task</button>
            <button ng-click="editingTask(task);">Edit Task</button>
        </div>
    </ul>


<button ng-click="creating();">Create a new Task!</button>
<div ng-show="create">
    <h3>Create a Task</h3>
    <input placeholder="Title of Task" class="form-control" ng-model="newTaskTitle"/>
    <input type="datetime-local" placeholder="When is the Task due?" class="form-control" ng-model="newTaskDue"/>
    <input placeholder="Describe your task" class="form-control" ng-model="newTaskDescription">
    <button style="margin-top: 5px;" ng-click="createTask();">Create</button>
</div>

<div ng-show="editing">
   <h3>Edit Task</h3>
   <input placeholder="Title of Task" class="form-control" ng-model="taskTitle"/>
   <input type="datetime-local" placeholder="When is the Task due?" class="form-control" ng-model="taskDue"/>
   <input placeholder="Describe your task" class="form-control" ng-model="taskDescription">
   <button ng-click="editTask();">Edit</button>
</div>
