{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO</title>

    <!-- jQuery -->
    <script src="{% static "js/vendors/jquery.js" %}"></script>

    <script type="text/javascript">var csrftoken = "{% csrf_token %}";</script>

    <!------- Angular ------->
    <script src="{% static "js/vendors/angular/angular.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-resource.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-route.js" %}"></script>
    <script src="{% static "js/vendors/angular/angular-cookies.js" %}"></script>


    <!------- Bootstrap ------->
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{% static "js/vendors/angular-ui/ui-bootstrap-tpls-0.11.2.js" %}"></script>

    <!-- JavaScript -->
    <script src="{% static "js/angular_app.js" %}"></script>

    <!------- Factories ------->
    <script src="{% static "js/factories/taskFactory.js" %}"></script>
    <script src="{% static "js/factories/userFactory.js" %}"></script>

    <!--- Directives ---->
    <script src="{% static "js/directives/buttonDirective.js" %}"></script>

    <!------- Controllers ------->
    <script src="{% static "js/controllers/homeController.js" %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/styling.css" %}">

    {% block header %}
    {% endblock header %}

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role=navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TODO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right ">
        {% if user.is_authenticated %}
       <li><a href="/accounts/logout/">Logout</a></li>
       <li><a href= "/profile/">My Profile</a></li>
        {% else %}
            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/accounts/signup/">Register</a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="Content">
{% block content %}
{% endblock content %}
</div>
</body>
</html>